.navbar-nav .nav-item .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .navbar-logo {
    width: 100px; 
    height: auto; 
  }
  
  .dropdown-menu-custom {
    min-width: 200px;
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 15px;
  }
  
  .dropdown-menu-custom form {
    width: 100%;
  }
  
  .btn-outline-primary {
    margin-right: 10px;
  }
  
 
  body {
    overflow-x: hidden;
  }